:root{
  --bg:#1f1f1f;
  --accent-green:#22b573;
  --text:#e8e8e8;
  --muted:#2b2b2b;
  --card:#0f0f0f;
  --btn-dark:#2a2a2a;
  --btn-green:#22b573;
  --shadow:0 6px 20px rgba(0,0,0,0.5);
}

*{box-sizing:border-box; margin:0; padding:0;}
body{
  height:100vh;
  font-family:"Poppins", system-ui, sans-serif;
  background: linear-gradient(180deg,var(--muted), #111 70%);
  color:var(--text);
  display:flex;
  flex-direction:column;
}

/* HEADER */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 20px;
  background:#111;
}

.logo-box .logo{
  width:40px;
  height:40px;
  border-radius:8px;
  background:var(--accent-green);
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:700;
  font-size:18px;
  color:#fff;
}

.search-box{
  flex:1;
  display:flex;
  align-items:center;   
  background:#222;
  border-radius:20px;
  overflow:hidden;
}

.search-box input{
  flex:1;
  padding:8px 12px;
  border:none;
  background:none;
  font-size:14px;
}

.search-box button{
  border:none;
  background:none;
  color:var(--text);
  padding:0 12px;
  cursor:pointer;
}

.profile span{
  font-size:22px;

}

.menu {
    color: #fff;
}

.menu a, .menu b {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

/* Card central */
main {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.card {
    background-color: #2b2b2b;
    padding: 25px;
    border-radius: 12px;
    width: 600px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #ddd;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #1f1f1f;
    color: #fff;
}

textarea {
    resize: vertical;
}

/* Botão enviar */
.btn-enviar {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #27ae60;
}


/* Lista da equipe */
.lista-equipe {
    margin-top: 15px;
    padding-left: 20px;
}

.lista-equipe li {
    margin: 8px 0;
    font-size: 16px;
    color: #ddd;
}

footer {
  margin-top: 235px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-footer{
  color: #22b573;
}
